@font-face {
  font-family: "Roboto-Thin";
  src: url("/fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/fonts/Roboto/Roboto-Light.ttf");
}

::-webkit-scrollbar {
  width: 10px;
}

.hiddenRoot {
  display: "none";
  opacity: 0;
  transition-duration: 1s;
}

.wrapper {
  font-family: "Roboto-Light";
  font-size: 10px;
  width: 110px;
  height: 160px;
  overflow: auto;
  transform: scale(4);
}

.text {
  padding-bottom: 2px;
  padding-left: 10px;
  padding-top: 5px;
  color: #fff;
  text-shadow: 0 0 1px #fff;
}

a {
  color: #fff;
  text-shadow: 0 0 1px #fff;
  text-decoration: none;
  transition-duration: 100ms;
}

a:visited {
  color: #fff;
  text-shadow: 0 0 1px #fff;
}

a:hover {
  text-shadow: 0 0 1px #fff, 0 0 5px #fff;
  transition-duration: 100ms;
}

.project {
  width: 1260px;
  height: 703.125px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectWrapper {
  margin-left: 30px;
  margin-right: 100px;
}

.projectNameIntro {
  font-size: 40px;
  font-family: "Roboto-Regular";
  padding-bottom: 10px;
}

.projectName {
  font-size: 50px;
  font-family: "Roboto-Regular";
  padding-bottom: 10px;
}

.projectDesc {
  font-size: 28px;
  line-height: 1.5;
  padding-bottom: 20px;
  font-family: "Roboto-Light";
}

.icon {
  object-fit: cover;
  height: 70px;
  padding-right: 25px;
}

.scrollToNavigate {
  font-family: "Roboto-Light";
  font-size: 10px;
  color: #fff;
  text-shadow: 0 0 1px #fff;
  opacity: 1;
  display: block;
  transition-duration: 1s;
  animation: bounce 2s 0.8s infinite alternate;
}

@keyframes bounce {
  20% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.scrollToNavigateHide {
  display: hidden;
  opacity: 0;
  transition-duration: 1s;
}

/* .helloText {
  font-family: "Roboto-Thin";
  font-size: 21px;
  color: #fff;
  text-shadow: 0 0 1px #fff;
  transform: scale(8);
} */

.helloText {
  font-family: "Roboto-Thin";
  font-size: 21px;
  color: #fff;
  text-shadow: 0 0 1px #fff;
  transform: scale(8);
  /* animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1); */
}
@keyframes scale {
  100% {
    transform: scale(8);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.025s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.05s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.075s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.125s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.15s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.175s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.225s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 0.25s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 0.275s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 0.325s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 0.35s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 0.375s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 0.425s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 0.45s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(19) {
  animation: fade-in 0.8s 0.475s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(20) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(21) {
  animation: fade-in 0.8s 0.525s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(22) {
  animation: fade-in 0.8s 0.55s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(23) {
  animation: fade-in 0.8s 0.575s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(24) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(25) {
  animation: fade-in 0.8s 0.625s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.introText {
  display: block;
  opacity: 1;
  font-family: "Roboto-Thin";
  font-size: 14px;
  color: #fff;
  text-shadow: 0 0 1px #fff;
  transform: scale(8);
}

.hiddenIntroText {
  display: none;
  opacity: 0;
}

.stackText {
  font-family: "Roboto-Thin";
  font-size: 14px;
  color: #fff;
  text-shadow: 0 0 1px #fff;
}

.stackWrapper {
  transform: scale(8);
}

.hiddenStackWrapper {
  display: none;
  opacity: 0;
  transform: scale(8);
}

.projectsText {
  font-family: "Roboto-Thin";
  font-size: 14px;
  color: #fff;
  text-shadow: 0 0 1px #fff;
  transform: scale(8);
}

.hiddenProjectsText {
  display: none;
  opacity: 0;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  padding-right: 10px;
  position: relative;
}

.namePreview {
  font-family: "roboto-thin";
  font-size: 6px;
  color: #fff;
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
  position: absolute;
  bottom: 27px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  display: block;
  opacity: 1;
}

.namePreviewHide {
  display: hidden;
  opacity: 0;
}

.logo {
  object-fit: cover;
  width: 25px;
  padding-top: 5px;
}

.icons {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
