@font-face {
  font-family: "Roboto-Thin";
  src: url("/fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/fonts/Roboto/Roboto-Light.ttf");
}

::-webkit-scrollbar {
  width: 10px;
}

.wrapper {
  font-family: "Roboto-Light";
  font-size: 10px;
  width: 110px;
  height: 160px;
  overflow: auto;
  transform: scale(4);
}

.text {
  padding-bottom: 2px;
  padding-left: 10px;
  padding-top: 5px;
  color: #fff;
  text-shadow: 0 0 1px #fff;
}

a {
  text-decoration: none;
  transition-duration: 100ms;
}

a:visited {
  color: #fff;
  text-shadow: 0 0 1px #fff;
}

a:hover {
  text-shadow: 0 0 1px #fff, 0 0 5px #fff;
  transition-duration: 100ms;
}

.project {
  width: 1260px;
  height: 703.125px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectWrapper {
  margin-left: 30px;
  margin-right: 100px;
}

.projectNameIntro {
  font-size: 40px;
  font-family: "Roboto-Regular";
  padding-bottom: 10px;
}

.projectName {
  font-size: 50px;
  font-family: "Roboto-Regular";
  padding-bottom: 10px;
}

.projectDesc {
  font-size: 28px;
  line-height: 1.5;
  padding-bottom: 20px;
  font-family: "Roboto-Light";
}

.icon {
  object-fit: cover;
  height: 70px;
  padding-right: 25px;
}

.scrollToNavigate {
  font-family: "Roboto-Light";
  font-size: 10px;
  color: #fff;
  text-shadow: 0 0 1px #fff;
}

.helloText {
  font-family: "Roboto-Thin";
  font-size: 21px;
  color: #fff;
  text-shadow: 0 0 1px #fff;
}

.introText {
  font-family: "Roboto-Thin";
  font-size: 14px;
  color: #fff;
  text-shadow: 0 0 1px #fff;
}

.stackText {
  font-family: "Roboto-Thin";
  font-size: 14px;
  color: #fff;
  text-shadow: 0 0 1px #fff;
}

.logo {
  object-fit: cover;
  height: 25px;
  padding-right: 25px;
}

.stackWrapper {
  width: 100px;
}

.icons {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
